*Thumbs.db*
__pycache__
.venv
venv/
.idea
.vs
.vscode
.claude
.DS_Store

*.gba
.last-requirements-check
.last-update-check
build/
profiles/*
!profiles/.gitkeep
dist/
logs/
mgba/
roms/*
!roms/.gitkeep
stats/
stream/
plugins/
tests/last_frame_timeout.png
modules/web/static/stream-overlay/config.js
